:root {
  --green: rgb(197, 228, 169);
  --blue: rgb(64, 109, 137);
  --text: rgb(52, 79, 95);
  --shadow: rgb(190, 190, 190);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Arial, sans-serif;
  color: var(--text);
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

header,
main,
footer {
  flex: 1;
}

h1 {
  margin-bottom: 30px;
  font-size: 30px;
}

header {
  display: flex;
  flex-direction: column;
}

picture {
  display: flex;
}

header img {
  max-width: 100%;
  flex: 1;
}

#name {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  bottom: 100px;
  left: 60px;
  max-width: 400px;
  color: var(--green);
}

.about,
.work h1 {
  margin: 50px;
  margin-top: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  box-shadow: 2px 2px 5px var(--shadow);
  margin: 20px;
}

.card,
.card-img img {
  max-width: 360px;
}

.card-info {
  padding: 20px;
  font-size: 15px;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 25px 25px;
  gap: 10px;
  align-items: center;
}

.card h2 {
  display: inline;
  font-size: 20px;
}

.icon {
  width: 25px;
  height: 25px;
}

footer {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact {
  display: grid;
  gap: 30px;
  align-content: center;
}

.contact > * {
  color: var(--green);
}

.email,
.phone {
  display: flex;
  align-items: center;
}

.icons * {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .card,
  .card-img img {
    max-width: 480px;
  }

  .contact {
    padding: 20px;
    min-width: 250px;
  }
}

@media (max-width: 480px) {
  header img {
    min-width: 480px;
  }

  h1 {
    text-align: center;
  }

  footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .icons {
    justify-self: center;
  }
}
